@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I love you</title>
    <script src="~/js/site.js"></script>
    <link href="~/css/site.css" rel="stylesheet">
</head>

<body onload="onPageLoad()">
 
    <div class="container">
        
 
        <h1 class="form-label">Today's Song Choices</h1>
        
        
        <div id="songSection" class="row">
            
            

            <div class="songCol">
                    <h2 class="col">Song 1</h2>
                    <iframe id="song0" style="border-radius:12px" src="" width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <iframe id="song1" style="border-radius:12px" src="" width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <iframe id="song2" style="border-radius:12px" src="" width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="songCol">
                <h2 class="col">Song 2</h2>
                  <iframe id="song3" style="border-radius:12px" src="" width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                  <iframe id="song4" style="border-radius:12px" src="" width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                  <iframe id="song5" style="border-radius:12px" src="" width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>  
 
            </div>

            <div class="songCol">
                <h2 class="col">Song 3</h2>
                  <iframe id="song6" style="border-radius:12px" src="" width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                  <iframe id="song7" style="border-radius:12px" src="" width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                  <iframe id="song8" style="border-radius:12px" src="" width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>  
 
            </div>
        </div>

 

        <div id="deviceSection" class="selection">
            <div class="col">

                
                    <select name = "1" id="loveSongs" >
                    <option value = "0" selected>Love Song 1</option>
                    <option value = "1">Love Song 2</option>
                     <option value = "2">Love Song 3</option>
                    </select>


                    <select name = "2" id="sadSongs" >
                    <option value = "3" selected>Sad Song 1</option>
                    <option value = "4">Sad Song 2</option>
                    <option value = "5">Sad Song 3</option>
                    </select>


         
                    <select name = "3" id="hardSongs" >
                    <option value = "6" selected>Hard Song 1</option>
                    <option value = "7">Hard Song 2</option>
                    <option value = "8">Hard Song 3</option>
                    </select>
                    <button id  = "submitSongs" class= "btn-primary" type = "button" >Submit</button>
                

     
            </div>

           
        </div>

        <div class = "exprain">
               <h5>Uh, the songs update every new day.</h5> 
               <h5> Also, just a heads up, I did not code a check when adding new songs to the playlist. So if you click submit more than once, you'll end up with duplicates. Love ya :)</h5>
           </div>
    </div>
    


</body>

</html>