@page
@model PersonalWebsite.Pages.ProjectsModel
@{
}
<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h1>Spordle</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img src="~/lib/Spordle.png" class="img-fluid rounded border border-dark">
        </div>
        <div class="col-4 align-bottom mt-3">
                <h6 class="mb-5">This is a project that's constantly in progress. View website <a href="https://spordle.azurewebsites.net/">here</a></h6>
          <p>Spordle is a web app using ASP.NET Core, GraphQL, and Razor Pages. It is hosted on Azure Cloud Services and uses Spotify's API to interact with the users.
              I thought of this project during the craze over the viral game wordle. The idea is that you get to build a playlist using the website that is progressively built upon
              everyday given a couple of songs from different genres.

              The songs and their uri's are stored on a Azure SQL Database and everyday the songs change. (At the current moment, the songs only change every day of the week.)

              I plan to continue working on this project in order to further advance my skills in Web Design in the Front and Backend. 
          </p>
        </div>
      </div>
    </div>
  </body>
